@using UniversityCRMS.Models
@model IEnumerable<UniversityCRMS.Models.Course>

@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/UniversityLayoutPage.cshtml";
    List<Department> departments = ViewBag.Departments;
}

<h2>Course Details</h2>

<table class="table">
    <tr>
        <td class="control-label col-md-2"><label for="Department" style="font-size: 25px">Department</label></td>
        <td>
            <select class="form-control col-md-2" id="Department" name="Department">
                <option value="">Select Department</option>
                @foreach (Department department in departments)
                {
                    <option value="@department.Code">@department.Name</option>
                }
            </select>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Course"></tbody>


</table>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $("#Department").change(function() {
                var deptId = $("#Department").val();
                $("#Course").empty();
                var json = { Code: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ShowCourse", "Department")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),

                    success: function (result) {
                        $.each(result,
                            function (key, value) {
                                $('#Course').append('<tr><td>' + value.Code + '</td><td>' + value.Name + '</td><td>' + value.Semester + '</td><td>' + value.Teacher + '</td></tr>');
                            });
                    }
                });

        });
    });

</script>

}
